{% extends 'sorting_layout.html' %}

{% block complexity %}
O(n log<sub>2</sub>n)
{% endblock %}


{% block custom_script %}
<script src="{{ url_for('static', filename='js/sorting/resources/components.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/resources/constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/resources/generate.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/quick_sort.js') }}"></script>
{% endblock %}