{% extends 'sorting_layout.html' %}

{% block main %}
<main role="main" class="container">
    {% block main_content %}
    <div class="jumbotron mt-4" style="background-color:#ffe5d0;">
        <h1 class="display-4"><b>AlgoVis.</b> Algorithm visualization made easy.</h1>
        <p class="lead">Welcome to AlgoVis, an easy to pick up algorithm visualization tool.
            AlgoVis currently visualizes the most frequently used sorting algorithms and pathfinding algorithms. <br>
            <b>Begin by selecting an algorithm in the navigation bar above.</b></p>
        <hr class="my-4">
        <p>Omnis cumque qui harum corrupti quo delectus quibusdam.
        </p>
    </div>
    {% endblock %}
</main>
{% endblock %}