{% extends 'navbar.html' %}

<!-- Header with navbar from navbar.html goes here -->
{% block main %}
<main role="main" class="container">
    {% if is_algorithm %}
    <div class="col-md">
        <!-- Bootstrap row containing heading, description and Big O Notation -->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 col-xs-1 text-center mt-1 mb-1">
                <h1 class="display-4 mt-3">
                    {{ title }}
                </h1>
                <hr />
                {{description}}
                <br /><br />
                <b>Big O notation:
                    <i>
                        {% block complexity %} {% if complexity %} {{complexity}} {%
                else %} unknown {% endif %} {% endblock %}
                    </i></b>
                <hr />
            </div>
            <div class="col-sm-4"></div>
        </div>

        <!-- Bootstrap row containing range slider and output of array size -->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 d-flex justify-content-center mt-1 mb-1">
                <div class="slidecontainer">
                    <input type="range" min="10" max="100" value="{{(max_value+min_value)//2}}"
                        class="array-size-range slider mr-3" />
                </div>
                <p class="output-array-size ml-3"></p>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <!-- Bootstrap row containing blocks of visualized array -->
        <div class="row d-flex justify-content-center mt-1 mb-1">
            <div class="data-container d-flex justify-content-center mt-1 mb-1"></div>
        </div>

        <!-- Bootstrap row containing sorting buttons -->
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 col-xs-1 text-center mt-2 mb-2">
                <button type="button" class="slowSortButton btn btn-light mr-2">
                    Slow sort
                </button>
                <button type="button" class="mediumSortButton btn btn-light mr-2">
                    Medium sort
                </button>
                <button type="button" class="fastSortButton btn btn-light ml-2">
                    Fast sort
                </button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

    <div class="modalDiv">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" style="background-color: #ffe5d0;" data-toggle="modal"
            data-target="#exampleModal">
            Learn more: <i>{{title}}</i>
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center mt-1 mb-1">
                        <img src="{{ url_for('static', filename=img) }}" alt="{{title}}" style="width: 100%;" />
                    </div>
                    <div class="d-flex justify-content-center mt-1 mb-1">
                        <small>
                            Source:
                            <a href="https://realpython.com/sorting-algorithms-python/" target="_blank">
                                <i>https://realpython.com/sorting-algorithms-python/</i>
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- If the page is not meant to visualize an algorithm, alternate main content goes here. -->
    {% else %} {% block main_content %} {% endblock %} {% endif %}
</main>
{% endblock %}

{%block custom_script%}
<script src="{{ url_for('static', filename='js/sorting/resources/components.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/resources/constants.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/resources/generate.js') }}"></script>
<script src="{{ url_for('static', filename='js/sorting/resources/swap.js') }}"></script>
{% endblock %}